#banner
    .banner_content
        %h1 Bug Tracking System
        %p Your online teacker of projects and bug. Never miss a bug again.
#testimonial
    .wrapper
        %p.quote "The greatest notebook application. Period."
        %p.name Mackenzie Child
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Managers
                %p Managers can add/delete/edit projects and add developers/QAs to his project(s).
            .callout
                %h2 Developers
                %p Developers can view the project(s) assigned to him/her or can assign a bug t himself for soltion purpose.
            .callout
                %h2 Quality Assurance
                %p QA person can also view the project(s) assigned to hime/her and can report/add new bugs to the project.
%footer
    %p &copy;