$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;
$red: #DB6161;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	background: #e4eff3b3;
}

#testimonial{
	background: white;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	background: $green;
	padding: 1rem 3.5rem;
	border-radius: 2rem;
	a {
		color: white;
		text-decoration: none;
	}
}

.button {
	color: white;
	margin: 2rem 0;
}

a {
	color: $green;
	text-decoration: none;
	&:hover {
		color: $dark_gray;
	}
}

.mb-5{
	margin-bottom: 5px;
}

.sub_heading{
	font-size: 20px;
	border-bottom: 2px solid #606060;
    padding-bottom: 10px;
}

header {
	background: $dark_gray;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $green;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			// float: left;
        }
        a{
            font-size: 20px;
            &:hover{
                color: white;
            }
        }
		nav {
			float: right;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.5rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $green;
				}
			}
		}
	}
}

.container{
	margin-top: 50px;
}

footer {
	background: $dark_gray;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: .85rem;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}

.dropdown{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

select[multiple]{
	width: 100%;
    border-radius: 5px;
}

.project {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $green;
		}
	}
}

.main_content {
	padding: 0 0 50px 0;
}

#project_top {
	margin-bottom: 50px;
	img{
		background-size: cover;
		width: 100%;
		border-radius: 0.3rem;
	}
}

#project_info {
	background: white;
	@include box-shadow;
	min-height: 360px;
	border-radius: 5px;
	padding: 2em 8%;
}

#project_info {
	h1 {
		font-size: 36px;
		font-weight: normal;
		color: $green;
	}
	.description {
		color: #8A8A8A;
		font-size: 20px;
	}
}

.bug_image {
	max-width: 100%;
	border-radius: 5px;
	@include box-shadow;
	height: 200px;
}